# Logs
logs
*.log
npm-debug.log*

# dependencies
*/node_modules
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
